@model List<Casino.AdminPortal.Web.Models.UserModel>

@{
    ViewBag.Title = "Casino Customers";
}

<h2>Users List</h2>

$(function () {
   //find ActionLink throuth its id
   $('#btnCustomers').click(function () {
        //show loadmask when it is loading data
        $('#contentFrame').mask("waiting ...");
        //load data in to contentFrame DIV
        $('#contentFrame').load(this.href, function (response, status, xhr) {
            //to disappear loadmask after loading finished
            $('#contentFrame').unmask("waiting ...");
        });
        return false;
    });
});

<div class="container">
    <h2>All Users</h2>
    <table class="table">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Balance</th>
                <th>Recharge</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerId</td>
                    <td>@item.CustomerName</td>
                    <td>@item.DOB</td>
                    <td>@item.Contact</td>
                    <td>@item.EmailId</td>
                    <td>@item.AccountBalance</td>
                    <td>Recharge</td>
                </tr>
            }
        </tbody>

        
    </table>
    @Html.ActionLink("Customers", "Index", "Customers", new { },
new { id = "btnCustomers", @class = "btn btn-default btn-xs" })
</div>

